body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: cursive;
}

.header {
    background-color: #1f2937;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    /* padding-top: 15px; */
}

.header2 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 70px 200px;
    gap: 100px;
}

.links_header {
    display: flex;
    gap: 20px;
    /* padding-top: 20px; */
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
}

.subtext {
    font-size: 18px;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
}

.imageplace {
    width: 400px;
    height: 200px;
    background-color: gray;
    flex-shrink: 0;
    text-align: center;
    color: #f9faf8;
    line-height: 200px;
}

.button, .button2 {
    background-color: #3882f6;
    color: #f9faf8;
    width: 110px;
    height: 30px;
    border-radius: 7.5px;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.button2 {
    border-style: solid;
    border-color: 2px #f9faf8;
}

.info {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    padding: 30px;
}

.bunch_square {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 70px;
    justify-content: center;
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.s {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.a {
    width: 150px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 70px 300px;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.thor {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.call {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.bluesquare {
    width: 900px;
    height: 120px;
    background-color: #3882f6;
    border-radius: 5px;
}

.bluesquare {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
   
}

.b {
    font-size: 20px;
    color: #f9faf8;
    font-weight: bold;  
}

.p {
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    height: 165px;
    padding-top: 30px;
}